---
const today = new Date();
---

<footer>
  <div class="flex justify-center p-5 fixed bottom-0 left-0 right-0">
    &copy; {today.getFullYear()} CodeKitchen. All rights reserved.
  </div>
</footer>
