---
import BaseLayout from '@layouts/BaseLayout.astro';
import reportData from 'public/insights/data.json';

interface ReportData {
  url: string;
  id: string;
  score: number;
}

const reports: Record<string, Record<string, number>> = {};

reportData.forEach((data: ReportData) => {
  const { url, id, score } = data;
  if (!reports[url]) {
    reports[url] = {};
  }
  reports[url][id] = score;
});
---

<BaseLayout>
  <h1 class="text-3xl font-bold mb-6">PageSpeed Inights Report</h1>
  <div class="overflow-x-auto">
    <table class="w-full text-left border-collapse">
      <thead>
        <tr class="">
          <th class="py-2 px-4 border">URL</th>
          <th class="py-2 px-4 border">Performance</th>
          <th class="py-2 px-4 border">Accessibility</th>
          <th class="py-2 px-4 border">Best Practices</th>
          <th class="py-2 px-4 border">SEO</th>
        </tr>
      </thead>
      <tbody>
        {
          Object.entries(reports).map(([url, scores]) => (
            <tr class="hover:bg-gray-200 dark:hover:bg-gray-700">
              <td class="py-2 px-4 border">
                <a href={url} target="_blank" rel="noopener noreferrer">
                  {url}
                </a>
              </td>
              <td class="py-2 px-4 border">
                {scores.performance ? (scores.performance * 100).toFixed(0) + '%' : '-'}
              </td>
              <td class="py-2 px-4 border">
                {scores.accessibility ? (scores.accessibility * 100).toFixed(0) + '%' : '-'}
              </td>
              <td class="py-2 px-4 border">
                {scores['best-practices'] ? (scores['best-practices'] * 100).toFixed(0) + '%' : '-'}
              </td>
              <td class="py-2 px-4 border">
                {scores.seo ? (scores.seo * 100).toFixed(0) + '%' : '-'}
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</BaseLayout>
