---
import { SITE_TITLE } from "@consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import reportData from "public/insights/data.json";

interface ReportData {
  url: string;
  id: string;
  score: number;
}

const reports: Record<string, Record<string, number>> = {};

reportData.forEach((data: ReportData) => {
  const { url, id, score } = data;
  if (!reports[url]) {
    reports[url] = {};
  }
  reports[url][id] = score;
});
---

<BaseLayout
  title={`SpeedInsightsの結果ページ | ${SITE_TITLE}`}
  description={`SpeedInsightsの結果ページです。 | ${SITE_TITLE}`}
>
  <h1 class="mb-6 text-3xl font-bold">PageSpeed Inights Report</h1>
  <div class="overflow-x-auto">
    <table class="w-full border-collapse text-left">
      <thead>
        <tr class="">
          <th class="border px-4 py-2">URL</th>
          <th class="border px-4 py-2">Performance</th>
          <th class="border px-4 py-2">Accessibility</th>
          <th class="border px-4 py-2">Best Practices</th>
          <th class="border px-4 py-2">SEO</th>
        </tr>
      </thead>
      <tbody>
        {
          Object.entries(reports).map(([url, scores]) => (
            <tr class="hover:bg-gray-200 dark:hover:bg-gray-700">
              <td class="border px-4 py-2">
                <a href={url} target="_blank" rel="noopener noreferrer">
                  {url}
                </a>
              </td>
              <td class="border px-4 py-2">
                {scores.performance
                  ? (scores.performance * 100).toFixed(0) + "%"
                  : "-"}
              </td>
              <td class="border px-4 py-2">
                {scores.accessibility
                  ? (scores.accessibility * 100).toFixed(0) + "%"
                  : "-"}
              </td>
              <td class="border px-4 py-2">
                {scores["best-practices"]
                  ? (scores["best-practices"] * 100).toFixed(0) + "%"
                  : "-"}
              </td>
              <td class="border px-4 py-2">
                {scores.seo ? (scores.seo * 100).toFixed(0) + "%" : "-"}
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</BaseLayout>
