---
import { SITE_TITLE } from '../consts';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<header class="flex justify-between p-5 border-b border-dotted bg-white dark:bg-black">
  <a class="flex items-center gap-2" href="/code-kitchen">
    <span class="font-semibold">{SITE_TITLE}</span>
  </a>
  <ThemeToggle />
</header>
