---
import { SITE_TITLE } from "@consts";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<header
  class="flex justify-between border-b border-dotted bg-white p-5 dark:bg-black"
>
  <a class="flex items-center gap-2" href="/">
    <span class="font-semibold">{SITE_TITLE}</span>
  </a>
  <ThemeToggle />
</header>
