---
import { Image } from "astro:assets";
---

<div class="flex flex-col items-center gap-5 py-20 lg:py-0">
  <Image
    src={`/images/profile.webp`}
    alt="logo"
    width={250}
    height={250}
    loading="lazy"
    decoding="async"
  />
  <div class="break-words whitespace-pre-wrap w-80">
    <p>Web Developer。パフォーマンス改善、データ分析基盤、生成AIに興味があり。Next.js, Terraform, AWS, Rails, Pythonを中心に開発スキルを磨いています。技術に関して幅広く投稿していきます</p>
  </div>
</div>
