---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Prose from '../components/Prose.astro';
import Sidebar from '../components/Sidebar.astro';

type Props = CollectionEntry<'articles'>['data'];

const { title, description } = Astro.props;

// キャッシュ設定の定義
const cacheControl = {
  _astro: 'public, max-age=31536000, immutable',
};

const currentPage = Astro.url.pathname;

// キャッシュヘッダーの設定
if (currentPage.startsWith('/_astro/')) {
  Astro.response.headers.set('Cache-Control', cacheControl._astro);
}
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-white dark:bg-gray-800 dark:text-white">
    <Header />
    <main class="p-5 flex flex-col lg:px-52 lg:py-20 lg:flex-row lg:justify-between">
      <article>
        <Prose>
          <h1>{title}</h1>
          <slot />
        </Prose>
      </article>
      <Sidebar />
    </main>
    <Footer />
    <script type="module" defer>
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  </body>
</html>
